Source: wingpanel-indicator-notifications
Section: x11
Priority: optional
Maintainer: Cody Garver <cody@elementary.io>
Build-Depends: cmake,
               debhelper (>= 9),
               gobject-introspection,
               libgranite-dev,
               libgtk-3-dev (>= 3.12),
               libnm-glib-dev,
               libnm-gtk-dev,
               libnm-util-dev,
               libvala-0.28-dev,
               libwingpanel-dev,
               valac (>= 0.28)
Standards-Version: 3.9.6
Homepage: https://launchpad.net/wingpanel-indicator-notifications

Package: wingpanel-indicator-notifications
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Notifications Indicator
 WingPanel Notifications Indicator

Package: wingpanel-indicator-notifications-dbg
Architecture: any
Section: debug
Priority: extra
Depends: wingpanel-indicator-notifications (= ${binary:Version}), ${misc:Depends}
Enhances: wingpanel-indicator-notifications
Description: WingPanel Notifications Indicator (debugging symbols)
 WingPanel Notifications Indicator
 .
 This package contains debugging symbols for wingpanel-indicator-notifications.
