Source: io.elementary.panel.notifications
Section: x11
Priority: optional
Maintainer: elementary, Inc. <builds@elementary.io>
Build-Depends: debhelper (>= 10.5.1),
               gettext,
               gobject-introspection,
               libadwaita-1-dev,
               libgdk-pixbuf2.0-dev,
               libglib2.0-dev,
               libgranite-7-dev,
               libgtk-4-dev,
               libwingpanel-8-dev,
               meson,
               valac (>= 0.28)
Standards-Version: 4.1.1
Homepage: https://github.com/elementary/panel-notifications

Package: io.elementary.panel.notifications
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Enhances: wingpanel
Description: WingPanel Notifications Indicator
 WingPanel Notifications Indicator
