.card {
    border-radius: 6px;
    padding: 6px;
}

.delete-affordance {
    background-color: @error_color;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 12px;
}

.delete-affordance image,
.delete-affordance label {
    color: white;
    font-weight: 600;
}
