.card {
    border-radius: 6px;
    padding: 6px;
}

.delete-affordance {
    background-color: mix(@theme_bg_color, @STRAWBERRY_500, 0.3);
    padding: 12px;
}

.delete-affordance.left {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.delete-affordance.right {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.delete-affordance.neutral {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 6px;
}

.delete-affordance image,
.delete-affordance label {
    color: mix(@theme_fg_color, @error_color, 0.6);
    font-weight: 600;
}
